@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}
:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;
    
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #C5EBD6;
    font-family: var(--fonte-padrao);

}
a.externo::after {
    content: '\00A0\1F517';
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}
header > h1 {
    color: white;
    font: normal 3em var(--fonte-destaque);
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    
    
}
header > p {
    color: white;
    font: 1.2em var(--fonte-padrao);
    max-width: 600px;
    padding: 0px 10px 0px 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}

nav {
    background-color: var(--cor5);
    font-weight: bold;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.200);
}
nav  a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.5s;
}
nav a:hover {
    color: var(--cor5);
    background-color: var(--cor3);
    border-radius: 5px;
}
main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
}
main h1 {
    color: var(--cor5);
    font: normal 1.8em var(--fonte-android);
}
main  h2 {
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    font: normal 1.3em var(--fonte-android);
    text-indent: 0.5em;
    
}
main p {
    color: black;
    font-size: 1em;
    text-align: justify;
    text-indent: 2em;
    line-height: 2em;
    padding-bottom: 20px;
    margin: 15px 0px;
}
main strong {
    color: var(--cor4);
    font-weight: bolder;
}
main a {
    color: var(--cor5);
    background-color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;

}
main a:hover {
    color: var(--cor4);
    text-decoration: underline;
}
main img {
    width: 100%;
}
main img.pequena {
    display: block;
    max-width: 350px;
    margin: auto;
}
div.video {
    background-color: var(--cor4);
    padding: 20px;
    padding-bottom: 58.5%;
    margin: 0px -20px 30px -20px;
    position: relative;
}
div.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
}
aside h3 {
    color: white;
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}
aside ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}
footer {
    color: white;
    background-color: var(--cor5);
    font: 0.8em var(--fonte-padrao);
    text-align: center;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    color: var(--cor5);
    background-color: white;
    text-decoration: underline;
}
